@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  /* primary color */
  --clr-soft-blue: 231 69% 60%;
  --clr-soft-red: 0 94% 66%;

  /* neutral color */
  --clr-grayish-blue: 229 8% 60%;
  --clr-very-dark-blue: 229 31% 21%;

  /* font family */
  --ff-rubik: "Rubik", serif;

  /* font-weight */
  --fw-reguler-400: 400;
  --fw-medium-500: 500;
}

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--ff-rubik);
}